<form action="/api/users/signup" method="post" style="width: 40%;">
  <div class="form-group">
      <p>Create an Account</p>
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password </label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>

  <div>
      <button type="submit" class="btn btn-primary">Login</button> <button type="submit" class="btn btn-primary">Sign up</button>
  </div>
  
</form>